body {
	background-color: #FAFAFA;
}

.verse {
	/*margin-top: 2em;*/
	padding: 5em;
}

.text-center {
	text-align: center;
}

.content-section {
	margin-bottom: 50px;
}

.igreja-sem-placa {
	background: url("../images/igreja-sem-placa.jpg") center no-repeat !important;
	background-size: cover !important;
}

.igreja-sem-placa * {
	color: #fff !important;
	font-weight: 500 !important;
}
