body {
	background-color: #FAFAFA;
}

.verse {
	/*margin-top: 2em;*/
	padding: 5em;
}

.text-center {
	text-align: center;
}

.content-section {
	margin-bottom: 50px;
}

.ler {
	font-size: 1.3em;
}

.ler h1.ui.header {
	text-align: center;
}

.ler p, .ler li {
	line-height: 1.7em;
}

.ler .custom-table {
  margin: 1em auto;
  max-width: 90%;
}

.ler .custom-table > table {
  margin-top: 1em;
}

.igreja-sem-placa {
	background: url("../images/igreja-sem-placa.jpg") center no-repeat !important;
	background-size: cover !important;
}

.ir-ao-inferno {
	background: url("../images/ir-ao-inferno.jpg") center no-repeat !important;
	background-size: cover !important;
}

.olhando-para-jesus {
	background: url("../images/olhando-para-jesus.jpg") center no-repeat !important;
	background-size: cover !important;
}

.seguranca-certeza-gozo {
	background: url("../images/seguranca-certeza-gozo.jpg") center no-repeat !important;
	background-size: cover !important;
}

.igreja-sem-placa *, .ir-ao-inferno *, .olhando-para-jesus *, .seguranca-certeza-gozo * {
	color: #fff !important;
	font-weight: 500 !important;
}

.shadow-for-bright-bg {
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}
