.verse {
	margin: 1rem auto !important;
}

.verse p {
	margin: 0 0 0.4em;
}

.verse footer {
	text-align: right;
}

.accordion .title {
	font-weight: bold;
}

.accordion .content a {
	/*color: rgba(0,0,0,.87);*/
}
