<div class="ui vertical pointing fluid menu">
  <a href="{{ site.url }}/index.html" class="active item">Início</a>
  <!-- <div class="item">
    Estudos
    <div class="menu">
      <a href="estudos.html" class="item">Por passagem</a>
      <a href="estudos.html" class="item">Por tema</a>
      <a href="estudos.html" class="item">Por autor</a>
    </div>
  </div> -->
  <a href="https://www.youtube.com/channel/UCt6TmofemQw6GqAJxcIOwUg" target="_blank" class="item"><i class="external share icon"></i>YouTube</a>
  <!-- <a href="conferencias.html" class="item">Conferências</a>
  <a href="faq.html" class="item">Perguntas e Respostas</a> -->
</div>
