.breadcrumb {
  flex-wrap: wrap;
}

.breadcrumb a {
  color: inherit;
}

.breadcrumb a:last-child:hover {
  cursor: text;
}

.article {
  text-align: justify;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, ui-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  line-height: 2em;
}
