---
import { getCollection } from "astro:content";

type Frontmatter = {
  title: string;
  author: string;
  draft?: boolean;
  category: string[];
  date: string;
};

const articles = await getCollection("articles");
---

<aside
  id="sidebar"
  class="fixed inset-0 z-20 flex-none hidden h-full w-72 lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-48 lg:block"
  aria-labelledby="sidebar-label"
>
  <h4 id="sidebar-label" class="sr-only">Browse</h4>
  <div
    id="navWrapper"
    class="overflow-y-auto z-20 h-full bg-white scrolling-touch max-w-2xs lg:h-[calc(100vh-3rem)] lg:block lg:sticky top-0 dark:bg-gray-900 lg:mr-0"
  >
    <nav
      id="nav"
      class="pt-16 px-1 pl-3 lg:pl-0 lg:pt-2 font-normal text-base lg:text-sm pb-10 lg:pb-20 sticky?lg:h-(screen-18)"
      aria-label="Docs navigation"
    >
      <ul class="mb-0 list-unstyled">
        <li class="mt-8">
          <h5
            class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
          >
            Artigos
          </h5>
          <ul class="py-1 list-unstyled fw-normal small">
            {
              articles.map((item) => (
                <li>
                  <a
                    href={`/artigos/${item.slug}`}
                    data-sidebar-item=""
                    class="py-2 transition-colors duration-200 relative flex items-center flex-wrap font-medium hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
                  >
                    {item.data.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div
  class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/60"
  id="sidebarBackdrop"
>
</div>
