.button {
  position: fixed;
  bottom: var(--mantine-spacing-xl);
  right: var(--mantine-spacing-xl);

  visibility: hidden;

  border-radius: var(--mantine-radius-xl);
}

.button[data-visible=true] {
  visibility: visible;
}
