.root {
  border: calc(0.0625rem * var(--mantine-scale)) solid #fff0;
  border-radius: var(--button-radius, var(--mantine-radius-default));
  padding: var(--mantine-spacing-xs);
}

.root:hover {
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-default-border);
  background-color: var(--mantine-color-default);
}

.root a {
  color: inherit;
}

.subInfo {
  font-size: var(--mantine-font-size-xs);
  margin-right: 5px;
  text-transform: uppercase;
}

.subInfo:not(:first-child) {
  margin-left: var(--mantine-spacing-xs);
}
