---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white dark:bg-gray-900 antialiased">
    <Header />

    <div class="w-full px-4 mx-auto max-w-8xl">
      <div class="lg:flex">
        <aside
          id="sidebar"
          class="fixed inset-0 z-20 flex-none hidden h-full w-72 lg:static lg:h-auto lg:overflow-y-visible lg:pt-0 lg:w-48 lg:block"
          aria-labelledby="sidebar-label"
        >
          <h4 id="sidebar-label" class="sr-only">Browse</h4>
          <div
            id="navWrapper"
            class="overflow-y-auto z-20 h-full bg-white scrolling-touch max-w-2xs lg:h-[calc(100vh-3rem)] lg:block lg:sticky top-0 dark:bg-gray-900 lg:mr-0"
          >
            <nav
              id="nav"
              class="pt-16 px-1 pl-3 lg:pl-0 lg:pt-2 font-normal text-base lg:text-sm pb-10 lg:pb-20 sticky?lg:h-(screen-18)"
              aria-label="Docs navigation"
            >
              <ul class="mb-0 list-unstyled">
                <li class="mt-8">
                  <h5
                    class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white"
                  >
                    Artigos
                  </h5>
                  <ul class="py-1 list-unstyled fw-normal small">
                    <li>
                      <a
                        href="#"
                        data-sidebar-item=""
                        class="py-2 transition-colors duration-200 relative flex items-center flex-wrap font-medium hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
                        >Um
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        data-sidebar-item=""
                        class="py-2 transition-colors duration-200 relative flex items-center flex-wrap font-medium hover:text-gray-900 text-gray-500 dark:text-gray-400 dark:hover:text-white"
                        >Dois
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </aside>

        <div
          class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/60"
          id="sidebarBackdrop"
        >
        </div>

        <main
          id="content-wrapper"
          class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible"
        >
          <div class="flex w-full">
            <div
              class="flex-auto max-w-4xl min-w-0 pt-6 lg:px-8 lg:pt-8 pb:12 xl:pb-24 lg:pb-16"
            >
              <div
                class="pb-4 mb-8 border-b border-gray-200 dark:border-gray-800"
              >
                <h1
                  class="inline-block mb-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
                  id="content"
                >
                  Coisas do Alto
                </h1>
                <p class="mb-4 text-lg text-gray-600 dark:text-gray-400">
                  Read more about
                </p>
              </div>

              <div id="mainContent">
                <h2 class="relative group">
                  Um
                  <span id="changelog" class="absolute -top-[140px]"></span>
                  <a
                    class="ml-2 text-blue-700 opacity-0 transition-opacity dark:text-blue-500 group-hover:opacity-100"
                    href="#um"
                    aria-label="Link to this section: Um">#</a
                  >
                </h2><p>um</p>

                <h3 class="relative group">
                  Dois
                  <span id="v230" class="absolute -top-[140px]"></span>
                  <a
                    class="ml-2 text-blue-700 opacity-0 transition-opacity dark:text-blue-500 group-hover:opacity-100"
                    href="#v230"
                    aria-label="Link to this section: v2.3.0">#</a
                  >
                </h3>

                <aside
                  class="flex mt-6 mb-8 font-medium leading-6"
                  aria-label="Previous and next page navigation"
                >
                  <a
                    class="flex items-center justify-center mr-8 text-gray-500 transition-colors duration-200 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                    href="#"
                    ><svg
                      class="w-3.5 h-3.5 mr-2"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 10"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 5H1m0 0 4 4M1 5l4-4"></path>
                    </svg>Anterior</a
                  >

                  <a
                    class="flex items-center justify-center ml-auto text-right text-gray-500 transition-colors duration-200 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                    href="#"
                    >Próximo<svg
                      class="w-3.5 h-3.5 ml-2"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 10"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                    </svg></a
                  >
                </aside>

                <aside
                  class="p-4 my-8 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700"
                  aria-label="Subscribe to the Coisas do Alto newsletter"
                >
                  <h3
                    class="mb-3 text-xl font-medium text-gray-900 dark:text-white"
                  >
                    Receber novidades
                  </h3>
                  <p
                    class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300"
                  >
                    inscreva-se
                  </p>
                  <form method="post">
                    <div data-style="clean" class="flex items-end mb-3">
                      <div class="flex items-center w-full max-w-md mb-3">
                        <div class="relative w-full mr-3">
                          <label
                            for="member_email"
                            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                            >E-mail</label
                          >
                          <div
                            class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none"
                          >
                            <svg
                              class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400"
                              aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg"
                              fill="currentColor"
                              viewBox="0 0 20 16"
                            >
                              <path
                                d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                              ></path>
                              <path
                                d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                              ></path>
                            </svg>
                          </div>
                          <input
                            id="member_email"
                            class="formkit-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            name="email_address"
                            aria-label="Email Address"
                            placeholder="Your email address..."
                            required=""
                            type="email"
                          />
                        </div>
                        <button data-element="submit" class="formkit-submit">
                          <div class="formkit-spinner">
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                          <span
                            class="px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >Subscribe</span
                          >
                        </button>
                      </div>
                    </div>
                  </form>
                  <div
                    class="text-sm font-medium text-gray-500 dark:text-gray-300"
                  >
                    By subscribing, you agree with <a
                      rel="nofollow"
                      href="#"
                      class="text-blue-600 hover:underline dark:text-blue-500"
                      >Terms of Service</a
                    > and <a
                      rel="nofollow"
                      class="text-blue-600 hover:underline dark:text-blue-500"
                      href="#">Privacy Policy</a
                    >.
                  </div>
                </aside>
              </div>
            </div>

            <div class="flex-none hidden w-64 pl-8 mr-8 xl:text-sm xl:block">
              <div
                class="flex overflow-y-auto sticky top-0 flex-col justify-between pt-10 pb-6 h-[calc(100vh-5rem)]"
              >
                <div class="mb-8">
                  <h4
                    class="pl-2.5 mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase dark:text-white lg:text-xs"
                  >
                    On this page
                  </h4>
                  <nav id="TableOfContents">
                    <ul>
                      <li>
                        <a href="#capitulos" class="">Capítulos</a>
                        <ul>
                          <li><a href="#v230" class="">Um</a></li>
                          <li><a href="#v220" class="">Dois</a></li>
                          <li>
                            <a
                              href="#v210"
                              class="!border-blue-700 !after:opacity-100 !text-blue-700 dark:!border-blue-500 dark:!text-blue-500"
                              >Tres</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  #TableOfContents > ul {
    @apply overflow-x-hidden font-medium text-gray-500 dark:text-gray-400;
  }

  #TableOfContents > ul > li {
    @apply py-2;
  }

  #TableOfContents > ul > li > a {
    @apply block pl-2.5 font-medium border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-blue-700 dark:after:text-blue-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

  #TableOfContents > ul > li > ul > li > a {
    @apply pl-6 border-l border-white duration-200 hover:text-gray-900 transition-none dark:hover:text-white hover:border-gray-300 after:content-['#'] after:text-blue-700 dark:after:text-blue-500 dark:border-gray-900 dark:hover:border-gray-700 after:ml-2 after:opacity-0 hover:after:opacity-100 after:transition-opacity after:duration-100;
  }

  #TableOfContents > ul > li > ul {
    @apply pt-2;
  }

  #TableOfContents > ul > li > ul > li {
    @apply py-2;
  }

  #TableOfContents > ul > li > ul > li:last-of-type {
    @apply pb-0;
  }

  .highlight {
    @apply overflow-hidden;
  }

  #mainContent > h2 {
    @apply mt-8 mb-4 text-2xl font-semibold dark:text-white;
  }

  #mainContent > h3,
  #mainContent > h4 {
    @apply mt-8 mb-4 text-xl font-semibold dark:text-white;
  }

  #mainContent > p {
    @apply mb-4 text-base font-normal text-gray-600 dark:text-gray-400;
  }

  #mainContent > p > a,
  #mainContent > ul > li > a,
  #mainContent > ol > li > a,
  #mainContent > ul > li > p > a,
  #mainContent > ol > li > p > a {
    @apply font-medium text-gray-700 underline dark:text-gray-300 decoration-1 underline-offset-2 decoration-blue-600 dark:decoration-blue-500;
  }

  #mainContent > p > a:hover,
  #mainContent > ul > li > a:hover,
  #mainContent > ol > li > a:hover,
  #mainContent > ul > li > p > a:hover,
  #mainContent > ol > li > p > a:hover {
    @apply text-gray-900 decoration-2 dark:text-white;
  }

  #mainContent > p > code,
  #mainContent > ul > li > code,
  #mainContent > ol > li > code {
    @apply px-1 font-mono text-sm text-blue-600 break-all dark:text-blue-400;
  }

  #mainContent > ul {
    list-style: disc;
  }

  #mainContent > ol {
    list-style: decimal;
  }

  #mainContent p > strong {
    @apply text-gray-900 dark:text-white;
  }

  #mainContent > ul,
  #mainContent > ol {
    padding-left: 1rem;
  }

  #mainContent > ul > li,
  #mainContent > ol > li {
    @apply mb-4 text-base font-normal text-gray-600 dark:text-gray-400;
  }
</style>
